body{margin:0}*{font-family:sans-serif;box-sizing:border-box}
.chapter-1__container{padding:8px 16px}@media only screen and (min-width: 600px){.chapter-1__container{padding:8px 32px}}
.nav-bar__container{background-color:#af125a;padding:10px;display:flex;justify-content:center;align-items:center}.nav-bar__main-title{font-size:x-large;font-weight:bolder;text-decoration:none;color:#fffa}
